<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <h1 class="text-center main-heading">About us</h1>
              <p class="text-center sub-heading">grow your business with us</p>
              <div class="row">
                <div class="col-md-6 col-12 hero-text "> 
                  <figure>
                    <img src="images/about.png" alt="">
                  </figure>                    
                </div>
                <div class="col-md-6 col-12 hero-text mt-5 "> 
                    <h1>We Are The Professional Developer</h1>
                    <p>Welcome to <span class="text-bold">myChannel</span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt error itaque earum animi praesentium reprehenderit molestiae dolores quisquam harum ipsa. Similique dolor architecto odit facilis.</p>
                </div>
              </div>
            </div>
      </div>
    </div>