<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="settings our-services">
                            
                            <h4 class="mt-4">Settings</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, deserunt!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="speedup our-services">
                            
                            <h4 class="mt-4">Speedup</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, deserunt!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="privacy our-services">
                            
                            <h4 class="mt-4">Privacy</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, deserunt!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="backups our-services">
                            
                            <h4 class="mt-4">Backups</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, deserunt!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="ssl our-services">
                            
                            <h4 class="mt-4">SSL secured</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, deserunt!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="database our-services">
                           
                            <h4 class="mt-4">Database</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, deserunt!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>